# Ignore common Visual Studio build and temporary files
*.suo
*.user
*.bak
obj/

# Ignore user-specific files
.vs/
*.suo
*.user

# Ignore packages
packages/

#ignore model
medical_classification_model/
checkpoints/

#ignore .env
**/.env

#fucking bin folder for desktop
/LinuxDesktop/bin
