# Ignore common Visual Studio build and temporary files
*.suo
*.user
*.bak
obj/

# Ignore user-specific files
.vs/
*.suo
*.user
.env

# Ignore packages
packages/

#ignore model
medical_classification_model/
checkpoints/
/backend_container/backend/best
/mobile/.gradle/buildOutputCleanup
