# Ignore common Visual Studio build and temporary files
*.suo
*.user
*.bak
*.log
[Dd]ebug/
[Rr]elease/
bin/
obj/

# Ignore user-specific files
.vs/
*.suo
*.user

# Ignore packages
packages/

#ignore model
medical_classification_model